@using WebApp.Models
@model List<SucursalCLS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Agregar","Agregar","Sucursal",null,new { @class="btn btn-primary"})    
<table  class="table table-bordered table-hover">
    <thead>
        <tr>
            <td width="10%">@Html.LabelFor(p => Model[0].iidSucursal)  </td>
            <td width="20%">@Html.LabelFor(p => Model[0].nombre)</td>
            <td width="20%">@Html.LabelFor(p => Model[0].direccion) </td>
            <td width="20%">@Html.LabelFor(p => Model[0].telefono) </td>
            <td width="20%">@Html.LabelFor(p => Model[0].email) </td>
            <td width="20%">@Html.LabelFor(p => Model[0].fechaApertura) </td>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>@item.iidSucursal</td>
            <td>@item.nombre</td>
            <td>@item.direccion</td>
            <td>@item.telefono</td>
            <td>@item.email</td>
            <td>@item.fechaApertura</td>
        </tr>
        }


    </tbody>
</table>

