@using WebApp.Models
@model ClienteCLS
@{
    ViewBag.Title = "Agregar";
    List<SelectListItem> listaSexo = (List<SelectListItem>)ViewBag.lista;
}

<h2>Agregar</h2>

<div class="row">
    <div class="col-md-6">

        @using (Html.BeginForm("Agregar", "Cliente", FormMethod.Post))
            {
            <div>
                @Html.LabelFor(p => p.nombre)
                @Html.TextBoxFor(p => p.nombre, new { @class = "form-control" })
                @Html.ValidationMessage("nombre", new { @class = "text-danger" })
            </div>


            <div>
                @Html.LabelFor(p => p.apPaterno)
                @Html.TextBoxFor(p => p.apPaterno, new { @class = "form-control" })
                @Html.ValidationMessage("apPaterno", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.apMaterno)
                @Html.TextBoxFor(p => p.apMaterno, new { @class = "form-control" })
                @Html.ValidationMessage("apMaterno", new { @class = "text-danger" })
            </div>


            <div>
                @Html.LabelFor(p => p.Email)
                @Html.TextBoxFor(p => p.Email, new { @class = "form-control" })
                @Html.ValidationMessage("Email", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.Direccion)
                @Html.TextBoxFor(p => p.Direccion, new { @class = "form-control" })
                @Html.ValidationMessage("Direccion", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.Iidsexo)
                @Html.DropDownList("Iidsexo", listaSexo, new { @class = "form-control" })
                @Html.ValidationMessage("Iidsexo", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.TelefonoFijo)
                @Html.TextBoxFor(p => p.TelefonoFijo, new { @class = "form-control" })
                @Html.ValidationMessage("TelefonoFijo", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.Telefonocelular)
                @Html.TextBoxFor(p => p.Telefonocelular, new { @class = "form-control" })
                @Html.ValidationMessage("Telefonocelular", new { @class = "text-danger" })
            </div>

            <br/>

            <input type="submit" value="Enviar" class="btn btn-primary" />

        }

    </div>
</div>