@using WebApp.Models;
@model List<ClienteCLS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@Html.ActionLink("Agregar","Agregar","Cliente",null,new {@class="btn btn-primary "})

<table class="table table-bordered table-hover ">
    <thead>
        <tr>
            <td width="30">@Html.LabelFor(p => Model[0].iidcliente)</td>
            <td width="10">@Html.LabelFor(p => Model[0].nombre)</td>
            <td width="10">@Html.LabelFor(p => Model[0].apPaterno)</td>
            <td width="10">@Html.LabelFor(p => Model[0].apMaterno)</td>

            <td width="10">@Html.LabelFor(p => Model[0].Email)</td>
            <td  width="70%">@Html.LabelFor(p => Model[0].Direccion)</td>
            <td width="10">@Html.LabelFor(p => Model[0].Iidsexo)</td>



            <td width="10">@Html.LabelFor(p => Model[0].TelefonoFijo)</td>
            <td width="10">@Html.LabelFor(p => Model[0].Telefonocelular)</td>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.iidcliente</td>
            <td>@item.nombre</td>
            <td>@item.apPaterno</td>
            <td>@item.apMaterno</td>

            <td>@item.Email</td>
            <td>@item.Direccion</td>
            <td>@item.Iidsexo</td>


            <td>@item.TelefonoFijo</td>
            <td>@item.Telefonocelular</td>
            <td>
                @Html.ActionLink(" ", "Editar", "Cliente", new { id = @item.iidcliente }, new { @class = "glyphicon glyphicon-edit btn btn-primary" })
                @Html.ActionLink(" ", "Eliminar", "Cliente", new { id = @item.iidcliente }, new { @class = "glyphicon glyphicon-trash btn btn-danger" })
            </td>
        </tr>

        }
    </tbody>
</table>
